<div class="show-background">
  <div class="content">

    <div class="show-page-title">
      <LinkTo @route="products"><i class="material-icons" {{action 'click' 'back'}}>navigate_before</i></LinkTo>
      <img src='assets/avatar.png' alt="avatar">
      <h2>Data Publisher</h2>
    </div>

    <div class="product-data-header">
      <h4>{{product.name}}</h4>
      <div>
        <button class="coverage-button" {{action 'click' 'COVERAGE'}}>COVERAGE</button>
        <button class="download-button" {{action 'click' 'DOWNLOAD'}}>DOWNLOAD <i class="material-icons">arrow_drop_down</i></button>
      </div>
    </div>

    <div class="expanded-table-options">
      <button {{action 'click' 'DATA SAMPLE'}}>DATA SAMPLE</button>
      <button {{action 'click' 'COVERAGE'}}>COVERAGE</button>
    </div>

    <table class="expanded-table">
      <tr class="top-row">
        <td class="first-col"></td>
        <td>m_ticker</td>
        <td>ticker</td>
        <td>comp_name</td>
        <td>comp_name_2</td>
        <td>exchange</td>
        <td>currency_code</td>
        <td>per_end_date</td>
        <td>per_type</td>
        <td>per_code</td>
        <td>per_fisc_year</td>
        <td>per_fisc_qtr</td>
        <td>per_cal_year</td>
        <td>per_cal_qtr</td>
        <td>rev_type</td>
        <td>rev_type_desc</td>
        <td>broker_name</td>
        <td>analyst_name</td>
        <td>eps_rev_date</td>
        <td>eps_rev_est</td>
        <td>eps_rev_date_prev</td>
        <td>eps_rev_est_prev</td>
      </tr>
      {{#each productData as |data index|}}
        <tr>
          <td class="first-col">{{index}}</td>
          <td>{{data.m_ticker}}</td>
          <td>{{data.ticker}}</td>
          <td>{{data.comp_name}}</td>
          <td>{{data.comp_name_2}}</td>
          <td>{{data.exchange}}</td>
          <td>{{data.currency_code}}</td>
          <td>{{data.per_end_date}}</td>
          <td>{{data.per_type}}</td>
          <td>{{data.per_code}}</td>
          <td>{{data.per_fisc_year}}</td>
          <td>{{data.per_fisc_qtr}}</td>
          <td>{{data.per_cal_year}}</td>
          <td>{{data.per_cal_qtr}}</td>
          <td>{{data.rev_type}}</td>
          <td>{{data.rev_type_desc}}</td>
          <td>{{data.broker_name}}</td>
          <td>{{data.analyst_name}}</td>
          <td>{{data.eps_rev_date}}</td>
          <td>{{data.eps_rev_est}}</td>
          <td>{{data.eps_rev_date_prev}}</td>
          <td>{{data.eps_rev_est_prev}}</td>
        </tr>
      {{/each}}
    </table>

    {{outlet}}

  </div>
</div>